/*初始化代码*/
* {
	margin:0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style: none;
}

input {
	border: 0 none;
	outline: none;
	/*去除外边线*/
}

img {
	display: block;
	vertical-align: middle;
	/*图片文字中线对齐*/
}

body {
	font:12px/100% "微软雅黑";
	background-color: #fae8c8;
}

/*版心布局*/
.w {
	width: 1010px;
	margin: 0 auto;
}

/*welcome*/
.welcome {
	height: 47px;
	background-color: #e9e8e8;
}

.welcome .text {
	line-height: 47px;
	font-size: 14px;
}

/*nav*/
.nav {
	height: 99px;
	background-color: #c70202;
	font-family: "宋体";
}

.nav .logo {
	float: left;
}

.nav .search {
	width: 294px;
	height: 26px;
	border: 1px #fff solid;
	float: left;
	margin-top: 34px;
	margin-left: 57px;
}

.nav .search .search-left {
	width: 235px;
	height: 26px;
	float: left;
}
.nav .search .btn {
	width: 59px;
	height: 26px;
	background-color: #c70202;
	color: #fff;
	float: right;
}
.nav .otherLogin {
	float: left;
	margin-top: 40px;
	margin-left: 164px;
}
.nav .otherLogin li {
	float: left;
	background: url("../img/qq_03.png") no-repeat;
	height: 20px;
	padding-left: 25px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 20px;

}
.nav .otherLogin li a {
	color: #fff;

}

.nav .loginArea {
	float: right;
	height: 30px;
	margin-top: 35px;
	line-height: 30px;
}

.nav .loginArea .zhuce {
	color: #fff;
	font-size: 14px;
}
.nav .loginArea .login {
	display: inline-block;
	width: 56px;
	height: 30px;
	background-color: #fff;
	font-size: 18px;
	text-align: center;
}